<div class="list-gruop">
    <a asp-action="List" asp-controller="Clubs" class="list-group-item list-group-item-action">Clubs</a>
    <a asp-action="List" asp-controller="Coaches" class="list-group-item list-group-item-action">Coaches</a>
    <a asp-action="List" asp-controller="Leagues" class="list-group-item list-group-item-action">Leagues</a>
    <a asp-action="List" asp-controller="Players" class="list-group-item list-group-item-action">Players</a>
</div>