@model IEnumerable<ListCoachResponse>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <partial name="_CoachCard" model="@item" />
        </div>
    }
</div>
